<div id="container">
    <h2>
        Vše
    </h2>
    <div id="line"></div>
    <div id="sloupce">
        <div id="sloupec_1">
            <h3>
                Lehké
            </h3>
            <div id="bunka_lehke">
                <div id="zeleny_okraj">
                    <h6 class="Název_návodu">
                        {{navod.nazev}}
                    </h6>
                </div>
                <div id="obsah">
                    <img id="obrázek_návodu" src="../assets/icon/Chobotnicka.jpg">
                    <table>
                        <tr>
                            <td>
                                <strong>
                                    Název:
                                </strong>
                                {{navod.nazev}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    Zkratky:
                                </strong>
                                {{navod.zkratky}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    Pomůcky:
                                </strong>
                                {{navod.pomucky}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div> 
        </div>
        <div id="sloupec_2">
            <h3>
                Střední
            </h3>
            <div id="bunka_stredni">
                <div id="zluty_okraj">
                    <h6 class="Název_návodu">
                        Vodní želva
                    </h6>
                </div>
                <div id="obsah">
                    <img id="obrázek_návodu" src="../assets/icon/Vodní želva.jpg">
                    <table>
                        <tr>
                            <td>
                                <strong>
                                    Název:
                                </strong>
                                Harold
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    Zkratky:
                                </strong>
                                Mk, Ks, A, Po, Řo, V
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    Pomůcky:
                                </strong>
                                Háček (velikost 2 mm), jehla, příze (Jeans), značkovač, bezpečnostní očka, výplň
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div id="sloupec_3">
            <h3>
                Těžké
            </h3>
            <div id="bunka_tezke">
                <div id="cerveny_okraj">
                    <h6 class="Název_návodu">
                        Malý slon
                    </h6>
                </div>
                <div id="obsah">
                    <img id="obrázek_návodu" src="../assets/icon/slon.png">
                    <table>
                        <tr>
                            <td>
                                <strong>
                                    Název:
                                </strong>
                                Harold
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    Zkratky:
                                </strong>
                                Mk, Ks, A, Po, Řo, V
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    Pomůcky:
                                </strong>
                                Háček (velikost 2 mm), jehla, příze (Jeans), značkovač, bezpečnostní očka, výplň
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
