#sloupce {
    margin-top: 2%;
    gap: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 50px;
    margin-right: 50px;
}

#bunka_easy {
    border-radius: 20px;
    background-color: var(--easy-color);
    box-shadow: 0 3px 8px var(--shadow-color);
    min-height: 180px;
    cursor: pointer;
}

#bunka_medium {
    border-radius: 20px;
    background-color: var(--medium-color);
    box-shadow: 0 3px 8px var(--shadow-color);
    min-height: 180px;
    cursor: pointer;
}

#bunka_hard {
    border-radius: 20px;
    background-color: var(--hard-color);
    box-shadow: 0 3px 8px var(--shadow-color);
    min-height: 180px;
    cursor: pointer;
}

#okraj_easy {
    padding: 5px;
    background: var(--easy-instruction);
    border-radius: 20px 20px 0px 0px;
    display: flex;
    justify-content: center;
    color: var(--background-color);
}

#okraj_medium {
    padding: 5px;
    background: var(--medium-instruction);
    border-radius: 20px 20px 0px 0px;
    display: flex;
    justify-content: center;
    color: var(--background-color);
}

#okraj_hard {
    padding: 5px;
    background: var(--hard-instruction);
    border-radius: 20px 20px 0px 0px;
    display: flex;
    justify-content: center;
    color: var(--background-color);
}

#obsah {
    display: flex;
    padding: 15px;
}

#obrazek_navodu {
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 180px;
    border-radius: 10px;
}

#text {
    padding-left: 15px;
    font-size: calc(.7rem + .2vw);
}

@media screen and (max-width: 1100px) {
    #sloupce {
        grid-template-columns: repeat(2, 1fr);
    }

    #obrazek_navodu {
        max-width: 100px;
        max-height: 130px;
    }

    #text {
        font-size: calc(.7rem + .5vw);
    }
}

@media screen and (max-width: 800px) {
    #sloupce {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0;
        margin-right: 0;
    }

    #text {
        font-size: calc(.8rem + .6vw);
    }
}