<title class="Vše">
    Vše
</title>
<hr class="Line">
<title class="Lehké">
    Lehké
</title>
<title class="Střední">
    Střední
</title>
<title class="Těžké">
    Těžké
</title>
<div class="záložka">
    <div class="záložkavzáložce0">
        <title class="Chobotnička">
            {{navod.nazev}}
        </title>
    </div>
    <img class="obrázek" src="../assets/icon/Harold.jpg">
    <div class="záložkavzáložce1">
        <title class="Text">
            Název:
            {{navod.nazev}}
            <br/>
            <br/>
            Zkratky:
            {{navod.zkratky}}
            <br/>
            <br/>
            Pomůcky:
            {{navod.pomucky}}
        </title>
    </div>
</div>
