<div id="container">
    <h2>
        Návody
    </h2>
    <!--
    <div>
        <button (click)="lehkeNavody()">
            Lehké
        </button>
        <button (click)="stredniNavody()">
            Střední
        </button>
        <button (click)="tezkeNavody">
            Těžké
        </button>
    </div> -->

    <div id="sloupce">
        <ng-container *ngFor="let item of navod">
            <div class="bunka {{item.obtiznost}}" (click)="getPopisy(item.title)">
                <div class="Nazev_navodu {{item.obtiznost}}_name">
                    {{item.title}}
                </div>
                <div class="obsah">
                    <img id="obrazek_navodu" src="../assets/icon/{{item.nazev}}.jpg">
                    <div class="text">
                        <table>
                            <tr>
                                <td>
                                    <strong>
                                        Počet částí:
                                    </strong>
                                    {{item.pocet}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        Zkratky:
                                    </strong>
                                    {{item.zkratky}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>