#container {
    padding: 40px;
}

input {
    max-width: 200px;
}

h2 {
    text-align: center;
}

@media screen and (max-width: 808px) {

    #container {
        padding: 20px;
    }

}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 479px) {

}