<div id="container">
    <h2>
        Registrace
    </h2>
    <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.valid && register()" #f="ngForm" novalidate>
        <div class="form-group">
            <label for="email">
                Email
            </label>
            <input type="email" class="form-control" id="email" required [(ngModel)]="email" name="email">
        </div>
        <div class="form-group">
            <label for="username">
                Username
            </label>
            <input type="username" class="form-control" id="username" required [(ngModel)]="username" name="username">
        </div>
        <div class="form-group">
            <label for="password">
                Heslo
            </label>
            <div class="password-container">
                <input type="{{ showPassword0 ? 'text' : 'password' }}" class="form-control" id="password" required
                    [(ngModel)]="password0" name="password0">
                <i class="material-icons" matSuffix (click)="showPassword0 = !showPassword0">
                    {{showPassword0 ? 'visibility' : 'visibility_off'}}
                </i>
            </div>
        </div>
        <div class="form-group">
            <label for="password">
                Zopakujte heslo
            </label>
            <div class="password-container">
                <input type="{{ showPassword1 ? 'text' : 'password' }}" class="form-control" id="password" required
                    [(ngModel)]="password1" name="password1">
                <i class="material-icons" matSuffix (click)="showPassword1 = !showPassword1">
                    {{showPassword1 ? 'visibility' : 'visibility_off'}}
                </i>
            </div>
        </div>
        <div class="form-group">
            <label for="language">
                Jazyk
            </label>
            <select [(ngModel)]="language" [ngModelOptions]="{standalone: true}">
                <option value="CZ">
                    Čeština
                </option>
                <option value="EN">
                    Angličtina
                </option>
            </select>
        </div>
        <div class="form-group">
        </div>
        <button type="submit" class="btn btn-primary">
            Registrovat se
        </button>
    </form>
</div>