#container {
    padding: 40px;
}

input {
    width: 300px;
}

h2 {
    text-align: center;
}

#blok {
    background-color: #C8E7F4;
    border-radius: 20px;
    width: 50%;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
}

button {
    width: 100%;
    background-color: #0d6efd;
    opacity: .65;
}

.form-group {
    padding: 5px;
}

select {
    margin-left: 20px;
    padding: 3px;
}

.password-container {
    position: relative;
}

.password-container i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

@media screen and (max-width: 808px) {
    #container {
        padding: 20px;
    }

}

@media screen and (max-width: 767px) {
    #blok {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    #blok {
        width: 90%;
    }
}

@media screen and (max-width: 479px) {
    input {
        width: 260px;
    }

    button {
        width: 260px;
    }
}

@media screen and (max-width: 375px) {
    input {
        width: 220px;
    }

    button {
        width: 220px;
    }

    #blok {
        height: 550px;
    }
}