<div id="container">
  <div>
    <label position="floating">Email, nebo uživatelské jméno</label>
    <input type="email" />
  </div>
      <div>
        <label position="floating">Heslo</label>
        <input [type]="showPassword ? 'text' : 'password'" /> 
        <i class="material-icons" matSuffix (click)="showPassword = !showPassword">
          {{showPassword ? 'visibility' : 'visibility_off'}}
        </i>
    
      </div>
      <br>
      <br>
      <button (click)="login()">Přihlásit se</button>
      
      <br>
      <div>
        Ještě nemáte účet? <a routerLink="/registrace">Zaregistruj se!</a>
      </div>
      <br>
      <strong>Zapomněli jste heslo?</strong>
</div>