 #container {
     padding: 40px;
 }
 
 #bunka {
     background-color: #C8E7F4;
     padding: 20px;
     border-radius: 15px;
     box-shadow: 0px 3px 8px rgba(0, 0, 0, .2);
     width: 72%;
     margin: auto;
 }

 button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000;
    background-color: #eaeaf4;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
  }
  
  button:hover {background-color: rgb(208, 208, 208);}
  
  button:active {
    background-color: rgb(208, 208, 208);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
    transform: translateY(4px);
  }

  #buttons {
      display: flex;
      gap: 30px;
      margin-top: 20px;
  }