<div id="container" *ngIf="navod && krokyNavodu">
    <h2>
        {{navod.titleCz}}
    </h2>
    <div id="columns">
        <div id="column_1">
            <div id="blok_1">
                <strong>
                    {{ 'NAVODYDETAIL.pouzitiStylu' | translate }}
                </strong>
                {{navod.shortcutsCz}}
                <img id="obrazek_navodu" src="{{navod.link || 'assets/icon/jpg/chobotnicka.jpg'}}">
            </div>
            <div id="blok_2">
                <div id="button" *ngFor="let item of krokyNavodu" (click)="setIndex(item.id, navod.id)">
                    {{item.titleCz}}
                </div>
            </div>
        </div>
        <div id="column_2">
            <strong>
                {{krokyNavodu[index].titleCz}}:
            </strong>
            <div id="items" *ngFor="let item of krokyNavodu[index].descriptionCz">
                {{item}}
            </div>
            <div id="buttons">
                <img id="button_1" src="assets/icon/svg/Vlevo.svg" (click)="previousIndex()">
                <div id="button_2" (click)="startStopTimer()">
                    {{ minutes }}:{{ seconds }}
                </div>
                <div id="button_3" (click)="finished()">
                    {{ 'NAVODYDETAIL.hotovo' | translate }}
                </div>
                <img id="button_4" src="assets/icon/svg/Vpravo.svg" (click)="nextIndex()">
            </div>
        </div>
    </div>
</div>