<div id="container" *ngIf="currentUser">
    <h2>
        Profil
    </h2>
    <div *ngIf="imageURL">
        <img [src]="imageURL" alt="Profile Picture">
    </div>
    <input type="file" (change)="onFileSelected($event)" accept="image/*">
    <div *ngIf="data">
        Bad data type of picture
    </div>
    <button (click)="onUpload()">Upload</button>
    <button (click)="delProfilePicture()">Delete profile pic</button>
    <div>
        Username: {{currentUser.username}}
    </div>
    <div>
        Příjmení: {{currentUser.surname}}
    </div>
    <div>
        Nick: {{currentUser.nick}}
    </div>
    <div>
        Jméno: {{currentUser.name}}
    </div>
    <div>
        Email: {{currentUser.email}}
    </div>
    <div>
        Datum vytvoření: {{currentUser.date}}
    </div>
    <div>
        Bio: {{currentUser.bio}}
    </div>
    <button (click)="passwordReset()">
        Reset hesla
    </button>
    <button (click)="editProfile()">
        Ulozit profil
    </button>
    <button (click)="deleteProfile()">
        Smazat profil
    </button>
    <button (click)="signOut()">
        Odhlásit
    </button>
</div>