<div id="container">
    <h2>
        {{ 'PROFIL.profil' | translate }}
    </h2>
    <div *ngIf="imageUrl">
        <img [src]="imageUrl" alt="Profile Picture">
    </div>
    <input type="file" (change)="onFileSelected($event)" accept="image/*">
    <div *ngIf="data">
        Bad data type of picture
    </div>
    <button (click)="onUpload()">Upload</button>
    <button (click)="delProfilePicture()">Delete profile pic //nefunguje zatim :D</button>
    <div>
        {{ 'REGISTRACE.username' | translate }} {{currentUser.username}}
    </div>
    <div>
        {{ 'PROFIL.prijmeni' | translate }} {{currentUser.surname}}
    </div>
    <div>
        {{ 'PROFIL.nick' | translate }} {{currentUser.nick}}
    </div>
    <div>
        {{ 'PROFIL.jmeno' | translate }} {{currentUser.name}}
    </div>
    <div>
        E-mail: {{currentUser.email}}
    </div>
    <div>
        {{ 'PROFIL.datum' | translate }} {{currentUser.date}}
    </div>
    <div>
        Bio: {{currentUser.bio}}
    </div>
    <button (click)="passwordReset()">
        {{ 'PROFIL.reset' | translate }}
    </button>
    <button (click)="editProfile()">
        {{ 'PROFIL.save' | translate }}
    </button>
    <button (click)="deleteProfile()">
        {{ 'PROFIL.delete' | translate }}
    </button>
    <button (click)="signOut()">
        {{ 'PROFIL.odhlasit' | translate }}
    </button>
</div>