<div id="container">
    <h2>
        {{ titleCz }}
    </h2>
    <div class="columns">
        <div class="column">
            <div class="bublina">
                <div>
                    <strong>
                        {{ 'VYUKOVYMODDETAIL.krok' | translate }}
                    </strong>
                    {{InfoVyukyCz[index].cisloCz}}
                </div>
                <div *ngIf="InfoVyukyCz[index].stylCz != null">
                    <strong>
                        {{ 'VYUKOVYMODDETAIL.styl' | translate }}
                    </strong>
                    {{InfoVyukyCz[index].stylCz}}
                </div>
                <div>
                    <strong>
                        {{ 'VYUKOVYMODDETAIL.pomucky' | translate }}
                    </strong>
                    {{InfoVyukyCz[index].pouzijemeCz}}
                </div>
                <div id="popis" innerHTML="{{InfoVyukyCz[index].popisCz}}">
                    <strong>
                        {{ 'VYUKOVYMODDETAIL.popis' | translate }}
                    </strong>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="video">
                <iframe [src]="InfoVyukyCz[index].videoUrlCz | safe" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
    <div id="buttons">
        <button (click)="previousIndexCz()" type="button">
            <img src="../../../../assets/icon/Vlevo.png">
        </button>
        {{index+1}}/{{InfoVyukyCz.length}}
        <button (click)="nextIndexCz()" type="button">
            <img src="../../../../assets/icon/Vpravo.png">
        </button>
    </div>
</div>