/*CSS*/

#container {
    padding: 40px;
}

#sloupce {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
}

#slovnik_popis {
    border-radius: 15px;
    background: #C8E7F4;
    padding: 25px;
    max-width: 600px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
}

#nazev_stylu {
    text-align: center;
    font-weight: bold;
    font-size: calc(1rem + 1vw);
}

.znacka_zkratka {
    font-size: calc(.7rem + 1vw);
    text-align: center;
}

.pole_zkratka {
    height: 150px;
    width: 150px;
    border-radius: 20px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
}

#zkratka {
    font-weight: 600px;
    font-size: 72px;
}

.znacka {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
}

.size {
    max-width: 445.71px;
    width: 100%;
    height: auto;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
    border-radius: 15px;
    margin-top: 8px;
}

#direction_column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#direction_row {
    display: flex;
    justify-content: center;
    gap: 20%;
    margin-top: 10px;
}

.popis {
    font-size: calc(.6rem + 1vw);
}

#popis_obsah {
    margin-top: 50px;
}

.nadpisky {
    font-weight: bold;
    font-size: calc(1rem + 1vw);
    margin-top: 20px;
}

#nadpisek_popis {
    font-size: calc(.7rem + 1vw);
    font-weight: bold;
}

@media screen and (max-width: 808px) {
    #container{
      padding: 20px;
    }
  }

  @media screen and (max-width: 991px) {
    /* start of large tablet styles */
        .pole_zkratka {
            height: 130px;
            width: 130px;
        }

        #zkratka {
            font-size: 65px;
        }

        .znacka {
            height: 130px;
            width: 130px;
        }
    
    }
    
    @media screen and (max-width: 767px) {
    /* start of medium tablet styles */
        .pole_zkratka {
            height: 120px;
            width: 120px;
        }

        #zkratka {
            font-size: 58px;
        }

        .znacka {
            height: 120px;
            width: 120px;
        }

    }
    
    @media screen and (max-width: 479px) {
    /* start of phone styles */
        .pole_zkratka {
            height: 100px;
            width: 100px;
        }

        #zkratka {
            font-size: 50px;
        }

        .znacka {
            height: 100px;
            width: 100px;
        }
    
    }