<div id="container">
    <div id="sloupce">
        <div id="slovnik_popis">
            <div id="nazev_stylu">
                {{styl.titulek}}
            </div>
            <div id="direction_row">
                <div class="direction_column">
                    <div class="znacka_zkratka">
                        {{ 'SLOVNIK.slovnikZkratka' | translate}}
                    </div>
                    <div class="pole_zkratka">
                        <div id="zkratka">
                            {{styl.zkratka}}
                        </div>
                    </div>
                </div>
                <div id="direction_column">
                    <div class="znacka_zkratka">
                        {{ 'SLOVNIK.image' | translate }}
                    </div>
                    <img class="znacka" src="/assets/icon/{{styl.nazev}}.png">
                </div>
            </div>
            <div id="popis_obsah">
                <div id="nadpisek_popis">
                    {{ 'SLOVNIK.popis' | translate }}
                </div>
                <div class="popis" innerHTML="{{styl.popis}}">
                </div>
            </div>
        </div>
        <div id="direction_column">
            <div class="nadpisky">
                {{ 'SLOVNIK.animace' | translate }}
            </div>
            <img class="size" src="assets/icon/{{styl.nazev}}.gif">
            <div class="nadpisky">
                {{ 'SLOVNIK.veSkutecnosti' | translate }}
            </div>
            <img class="size" src="assets/icon/{{styl.nazev}}-real.png">
        </div>
    </div>
</div>