/*CSS*/

#sloupce {
    display: flex;
    margin-top: 2%;
}

#sloupec1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#sloupec2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#slovnik_popis {
    width: 600px;
    min-height: 600px;
    border-radius: 15px;
    background: #C8E7F4;
    padding-top: 20px;
    padding-bottom: 30px;
}

#nazev_stylu {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
}

#pole1 {
    width: 337.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pole2{
    width: 337.5px;
    display: flex;
    flex-direction: column;
    align-items:center;
}


#pole {
    display: flex;
}

.text_zkratka {
    font-size: 30px;
}

.pole_zkratka {
    height: 150px;
    width: 150px;
    border-radius: 10%;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

#zkratka {

    
    font-weight: 600;
    font-size: 72px;
}

.polickoznacka {
    height: 150px;
    width: 150px;
    border-radius: 10%;
    background: #FFFFFF;
}

.text_znacka {
    font-size: 30px;
}

.znacka {
    width: 150px;
    border-radius: 20px;
}

.text_popis {
    font-weight: bold;
    font-size: 30px;
}

.popis {
    font-size: 30px;
}

#popis_obsah {
    width: 80%;
    margin: auto;
    margin-top: 35px;

}

.Text_animace {
    font-weight: bold;
    font-size: 30px;
}

.Text_real {
    font-weight: bold;
    font-size: 30px;
    margin-top: 30px;
}

.Gif_okraj {
    width: 445.71px;
    height: 254px;
    border: 4px solid #EA749B;
    border-radius: 20px;
}

.Animace {
    width: 100%;
    border-radius: 15px;
}

.Video_okraj {
    width: 445.71px;
    height: 254px;
    border: 4px solid #EA749B;
    border-radius: 20px;
}

.Real {
    width: 100%;
    border-radius: 15px;
}

h2 {
    font-weight: bold;
}
