#columns {
    display: flex;
    gap: 5%;
    padding-top: 10px;
    justify-content: center;
}

#first_column {
    background-color: #C8E7F4;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 3px 8px #0003;
    font-size: calc(.7rem + .5vw);
    max-width: 30vw;
}

#direction_row {
    display: flex;
    justify-content: center;
    gap: 20%;
    margin-top: 10px;
    margin-bottom: 50px;
}

#direction_column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pole_zkratka,
#znacka {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 8px #0003;
    font-size: 72px;
}

#second_column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#size_1,
#size_2 {
    max-width: 445px;
    box-shadow: 0 3px 8px #0003;
    border-radius: 15px;
    margin: 8px 0;
}

@media screen and (max-width: 1500px) {
    #first_column {
        max-width: 40vw;
    }
}

@media screen and (max-width: 1100px) {
    #columns {
        flex-direction: column;
        row-gap: 20px;
    }

    #first_column {
        align-self: center;
        max-width: 65vw;
    }
}

@media screen and (max-width: 800px) {
    #first_column {
        max-width: 80vw;
    }

    #pole_zkratka,
    #znacka {
        height: 100px;
        width: 100px;
        font-size: 52px;
    }

    #size_1,
    #size_2 {
        max-width: 320px;
    }
}