/*CSS*/

.nadpis {
    left: 43%;
    top: 230px;
    position: absolute;
    display: flex;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 30px;
}

.Line {
    max-width: 1130px;
    left: 8%;
    right: 8%;
    top: 270px;
    position: absolute;
    border: 1px solid #000000;
}

.rozdeleni {
    display: flex;
}

.sloupec {
    padding-right: 30px;
    padding-left: 30px;
    flex: 2;
}

.bublina {
    margin-top: 260px;
    border-radius: 10px;
    border: 4px solid #EA749B;
    text-align: center;
    font-family: 'Inter';
    font-size: 30px;
}

.bublina-spodni {
    margin-top: 30px;
    border-radius: 10px;
    border: 4px solid #EA749B;
    text-align: center;
    font-family: 'Inter';
    font-size: 30px;
}

.pomucka {
    width: 200px;
    height: 200px;
}
