/*CSS*/

#nadpis{
    text-align: center;
}

#Line{
    width: 1250px;
    background-color: #000;
    height: 2px;
    margin: auto;
    opacity: 40%;
    
}

#sloupec_1 {
    width: 675px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    
}

#sloupec_2 {
    width: 675px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#sloupce {
    display: flex;
    margin-top: 50px;
    
}

.bublina{
    border-radius: 10px;
    border: 4px solid #EA749B;
    text-align: center;
    font-size: 30px;
    width: 450px;
    
    
   
}

.bublina-spodni{
    border-radius: 10px;
    border: 4px solid #EA749B;
    text-align: center;
    font-size: 30px;
    width: 450px;
    
}


.pomucka{
    width: 200px;
    height: 200px;
}

#container {
    margin-top: 15px;
    
}

