<title class="nadpis">
  {{pomucka.titulek}}
</title>
<hr class="Line">


<div *ngFor="let krok of kroky" class="bublina">
  <div class="rozdeleni">
    <div class="sloupec">
      {{krok.popis}}
    </div>
    <div class="sloupec1">
      <img *ngIf="krok.exist" class="pomucka" src="../assets/icon/{{krok.obrazek}}.png">
    </div>
  </div>
</div>

<div class="bublina-spodni" class="video-center">
    <div class="video">
      <div width="100%" height="100%" src=getEmbedVideo(pomucka.videoURL) title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></div>
    </div>
</div>