<div id="container">
  <h2>
    {{pomucka.titulek}}
  </h2>
  <div class="Line1"></div>
  <div class="bubliny">
    <div *ngFor="let krok of kroky" class="bublina">
          {{krok.popis}}
          <img *ngIf="krok.exist" class="pomucka" src="../assets/icon/{{krok.obrazek}}.png">
    </div>
  </div>
  <div class="bublina-spodni">
      <div class="video">
        <iframe
          [src]="pomucka.videoURL | safe"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
      </div>
  </div>
</div>