<title class="nadpis">
  {{pomucka.titulek}}
</title>
<hr class="Line">
<div class="rozdeleni">
  <div class="sloupec">
    <div class="bublina">
      {{pomucka.popis}}
      <br/>
      <img src="../assets/icon/sada.png">
    </div>
    <div class="bublina-spodni">
      {{pomucka.popis1}}
      <br/>
      <img class="pomucka" src="../assets/icon/hacek.png">
    </div>
  </div>
  <div class="sloupec">
    <div class="bublina">
      {{pomucka.popis2}}
      <br/>
      <img class="pomucka" src="../assets/icon/favicon.png">
    </div>
  </div>
</div>
