body {
    padding-top: 200px;
}

.rozdeleni {
    padding-top: 12px;
    padding-right: 12px;
    padding-left: 12px;
    display: flex;
    text-align: center;
}

.sloupec {
    flex: 2;
    border: 5px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
    font-size: x-large;
}

.bublina {
    margin-top: 70px;
    border-top-color: #EA749B;
    border-top-style: solid;
    border-top-width: 5px;
    border-right-color: #EA749B;
    border-right-style: solid;
    border-right-width: 5px;
    border-bottom-color: #EA749B;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-left-color: #EA749B;
    border-left-style: solid;
    border-left-width: 5px;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 30px;
    text-align: center;
    letter-spacing: -0.333333px;
    color: #000000;

}

.bublina-spodni {
    margin-top: 30px;
    border-top-color: #EA749B;
    border-top-style: solid;
    border-top-width: 5px;
    border-right-color: #EA749B;
    border-right-style: solid;
    border-right-width: 5px;
    border-bottom-color: #EA749B;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-left-color: #EA749B;
    border-left-style: solid;
    border-left-width: 5px;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 30px;
    text-align: center;
    letter-spacing: -0.333333px;
    color: #000000;
}

.pomucka {
    align-items: center;
    width: 200px;
    height: 200px;
    
}

body {
    padding-top: 200px;
}

.Line{
    position: absolute;
    width: 1130px;
    height: 0px;
    left: 110px;
    top: 260px;
    border: 1px solid #000000;
}

.nadpis {
    position: absolute;
    width: 687px;
    height: 57px;
    left: 650px;
    top: 210px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.333333px;
    color: #000000;
}