
#page {
    background-color: var(--background-color);
    width: 85%;
    margin: auto;
    overflow: auto;
    height: 100vh;
}

#lista {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8vw;
    background-color: var(--cell-color-first);
    box-shadow: 0 3px 8px var(--shadow-color);
}

#logo {
    order: 1;
    max-width: 90px;
}

#selecro {
    order: 2;
    font-size: calc(1rem + 1vw);
}

#hledaci_bunka {
    order: 3;
    border-radius: 30px;
    background-color: var(--background-color);
    min-width: 30vw;
    position: relative;
}

#hledat {
    width: 100%;
    background-image: url('src/assets/icon/svg/search.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-origin: content-box;
    padding: 5px 20px;
    font-size: calc(.9rem + .4vw);
    border-color: transparent;
    background-color: transparent;
    height: 60px;
    outline-style: none;
}

#search_result_ul {
    min-width: 30vw;
    max-width: 34vw;
    position: absolute;
    z-index: 6;
    padding: 0;
    box-shadow: 0 3px 8px var(--shadow-color);
    text-align: center;
    border-radius: 20px;
}

#search_result_li {
    padding: 14px;
    background: var(--box-color);
    display: block;
    border-bottom: solid;
    border-width: 1px;
    border-color: var(--shadow-color);
}

#search_result_li:last-child {
    border-radius: 0px 0px 10px 10px;
    border-style: none;
}

#search_result_li:first-child {
    border-radius: 10px 10px 0px 0px;
}

#translation {
    order: 4;
    padding: .375em .75em;
    background-color: var(--background-color);
    border: 1px solid var(--border-color-second);
    appearance: none;
}

#account {
    order: 5;
    background-color: var(--background-color);
    padding: 5px;
    border-radius: 15px;
    max-width: 50px;
}

#hamburger {
    order: 6;
    background-color: var(--background-color);
    padding: 5px;
    border-radius: 15px;
    max-width: 50px;
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

#menu {
    display: flex;
    justify-content: center;
    column-gap: 2vw;
    margin-top: 20px;
    position: relative;
    z-index: 5;
}

#blok1,
#blok4,
#blok5,
#blok2_div,
#blok3_div {
    padding: 15px;
    background: var(--pink-backgroud);
    border-radius: 20px;
    box-shadow: 0 3px 8px var(--shadow-color);
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    font-size: calc(.9rem + .1vw);
    margin: 0;
    text-align: center;
}

#blok2_container,
#blok3_container {
    min-width: 200px;
    max-width: 100px;
    background-color: var(--box-color);
    display: none;
    position: absolute;
    box-shadow: 0 3px 8px var(--shadow-color);
    text-align: center;
    border-radius: 20px;
}

#pomucky,
#slovnik {
    min-width: 8vw;
    color: var(--text-color);
    padding: 14px 18px;
    text-decoration: none;
    background: var(--light-background);
    display: block;
    border-bottom: solid;
    border-width: 1px;
    border-color: var(--border-color-first);
}

#pomucky:last-child,
#slovnik:last-child {
    border-radius: 0 0 10px 10px;
    border-style: none;
}

#pomucky:first-child,
#slovnik:first-child {
    border-radius: 10px 10px 0 0;
}

@media screen and (max-width: 1500px) {
    #body {
        background-image: none;
    }

    #page {
        width: 100%;
    }

    #lista {
        column-gap: 10vw;
    }
}

@media screen and (max-width: 1100px) {
    #lista {
        column-gap: 4vw;
    }

    #account,
    #hamburger {
        display: block;
        position: relative;
        height: 50px;
        width: 50px;
        padding: 5px;
    }

    #menu {
        position: fixed;
        width: 0;
        flex-direction: column;
        margin-top: 0;
        right: 0;
        background-color: var(--background-color);
        height: 100%;
        gap: 1%;
        justify-content: start;
        margin: 0;
    }

    #blok1,
    #blok4,
    #blok5,
    #blok2_div,
    #blok3_div {
        margin: 5px;
    }

    #blok2_container,
    #blok3_container {
        min-width: 250px;
        position: relative;
    }

    #pomucky,
    #slovnik {
        padding: 0;
    }

}

@media screen and (max-width: 810px) {
    #lista {
        column-gap: 5vw;
    }

    #logo {
        max-width: 80px;
    }

    #selecro {
        display: none;
    }

    #hledaci_bunka {
        min-width: calc(1rem + 30vw);
    }

    #account,
    #hamburger {
        max-width: calc(1rem + 5vw);
        max-height: calc(1rem + 5vw);
    }

    #hledat {
        font-size: calc(.9rem + .4vw);
        height: 50px;
        background-size: calc(1rem + 2vw);
    }
}

@media screen and (max-width: 500px) {
    #lista {
        padding: 10px;
    }

    #logo {
        display: none;
    }
}