.background{
    width: 100%;
    min-width: 1080px;
    max-height: 1080px;
}

.page{
    left: 15%;
    right: 15%;
    top: 0;
    bottom: 0;
    background: #FFFFFF;
    position: absolute;
}

.hledat{
    width: 100%;
    height: 100px;
    background: #C8E7F4;
}

.logo{
    width: 90px;
    height: 90px;
    min-width: 75px;
    margin-left: 1%;
}

.SELECRO{
    left: 119px;
    top: 30px;
    position: absolute;
    display: flex;
    font-family: 'ABeeZee';
    font-size: 1.3vw;
}

.Bunkahledat{
    width: 64%;
    height: 7%;
    left: 250px;
    top: 15px;
    background: #FFFFFF;
    position: absolute;
    border: 1px solid #000000;
    border-radius: 50px;
}

.Hledat{
    height: 65%;
    left: 37px;
    top: 11px;
    position: absolute;
    display: flex;
    align-items: center;
    font-family: 'ABeeZee';
    font-size: 1vw;
}

.Lupa{
    width: 6%;
    left: 790px;
    top: 7px;
    position: absolute;
}

.Tvořit-může-každý{
    height: 8%;
    left: 1115px;
    top: 11px;
    position: absolute;
    display: flex;
    align-items: center;
    font-family: 'ABeeZee';
    font-size: 1.3vw;
}

.Menu{
    width: 100%;
    top: 75px;
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.Menu-block{
    min-width: 230px;
    min-height: 70px;
    background: #F4B9CD;
    border-radius: 15px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.googleicons{
    left: -65px;
    position: relative;
}

.Menu-text{
    left: 42%;
    top: 32%;
    position: absolute;
    display: flex;
    font-family: 'Inter';
    font-size: 1vw;
}

.dropdown{
    position: relative;
    display: inline-block;
}
  
.dropdown-content{
    min-width: 160px;
    background-color: #f1f1f1;
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 4;
}
  
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content{
    display: block;
}
  
.dropdown:hover .dropbtn{
    background-color: #3e8e41;
}
