<!DOCTYPE html>
<html lang="cs">  
  <head>
    <meta charset="utf-8" name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
  </head>
  <body>
    <div id="page">
      <div id="hledaci_lista">
        <img id="logo" src="/assets/icon/logo.png">
        <h3 id="selecro">
          selecro
        </h3>      
        <div id="hledaci_bunka">
          Hledat...
          <div id="Lupa">
            <img src="/assets/icon/search.png">
          </div>
        </div>
        <h4 class="Slogan">
          Tvořit může každý!
        </h4>
      </div>
      <div id="Menu">
        <div routerLink="/home">
          <button routerlink="/home" class="Menu-block">
            <img class="googleicons" src="/assets/icon/info.png">
              Selecro
          </button>
        </div>
        <div class="dropdown">
          <button class="Menu-block">
            <img class="googleicons" src="/assets/icon/style.png">
              Pomůcky
          </button>
          <div class="dropdown-content">
            <a href="/pomucky/hacek">
              Háček
            </a>
            <a href="/pomucky/prize">
              Příze
            </a>
            <a href="/pomucky/znackovac">
              Značkovač
            </a>
            <a href="/pomucky/jehla">
              Jehla
            </a>
            <a href="/pomucky/nuzky">
              Nůžky
            </a>
            <a href="/pomucky/bezpecnostni-oci-a-nos">
              Bezpečnostní oči a nos
            </a>
            <a href="/pomucky/chrastitko">
              Chrastítko
            </a>
            <a href="/pomucky/pocitadlo">
              Počítadlo
            </a>
            <a href="/pomucky/navijec-prize">
              Navíječ příze
            </a>
            <a href="/pomucky/vypln">
              Výplň
            </a>
          </div>
        </div>
        <div class="dropdown">
          <button class="Menu-block">
            <img class="googleicons" src="/assets/icon/book.png">
              Slovník
          </button>
          <div class="dropdown-content">
            <a href="/slovnik/retizkove-oko">
              Řetízkové oko
            </a>
            <a href="/slovnik/pevne-oko">
              Pevné oko
            </a>
            <a href="/slovnik/kratky-sloupek">
              Krátký sloupek
            </a>
            <a href="/slovnik/polodlouhy-sloupek">
              Polodlouhý sloupek
            </a>
            <a href="/slovnik/dlouhy-sloupek">
              Dlouhý sloupek
            </a>
            <a href="/slovnik/rozhackovani">
              Rozháčkování
            </a>
            <a href="/slovnik/shackovani">
              Sháčkování
            </a>
            <a href="/slovnik/magicky-krouzek">
              Magický kroužek
            </a>
          </div>
        </div>
        <button routerLink="/vyukovymod" class="Menu-block">
          <img class="googleicons" src="/assets/icon/school.png">
            Výukový mód
        </button>
        <button routerLink="/navody" class="Menu-block">
          <img class="googleicons" src="/assets/icon/view.png">
            Návody
        </button>
      </div>
      <router-outlet></router-outlet>
    </div>
  </body>
</html>
