<div id="body">
  <div id="page">
    <div id="lista">
      <img id="logo" routerLink="/home" src="assets/icon/svg/logo.svg">
      <div id="selecro">
        SELECRO
      </div>
      <div id="hledaci_bunka">
        <input id="hledat" type="text" name="search" [(ngModel)]="search" autocomplete="off"
          placeholder="{{ 'APP.hledat' | translate }}">
        <ul id="search_result_ul" *ngIf="search && search.length >= 1">
          <li id="search_result_li" *ngFor="let item of items | filter: search" (click)="getRoute(item)">
            {{item}}
          </li>
        </ul>
      </div>
      <select id="translation" #selectedlang (change)="switchLanguage(selectedlang.value)">
        <option id="options" *ngFor="let language of translate.getLangs()" [value]="language"
          [selected]="language === translate.currentLang">
          {{ language }}
        </option>
      </select>
      <img id="account" routerLink="/prihlaseni" src="{{ imageURL }}">
      <img id="hamburger" (click)="opencloseNav()" src="assets/icon/svg/hamburger-menu.svg">
    </div>
    <div id="menu" #menu>
      <div id="blok1" routerLink="/home">
        <img src="assets/icon/svg/info.svg">
        Selecro
      </div>
      <div id="blok2" (click)="showHidePomucky()">
        <div id="blok2_div">
          <img src="assets/icon/svg/style.svg">
          {{ 'APP.pomucky' | translate }}
        </div>
        <div id="blok2_container" #blok2_container>
          <ng-container *ngFor="let term of pomucky">
            <a id="pomucky" [routerLink]="'/pomucky/' + term.nazev">
              {{ term.title | translate }}
            </a>
          </ng-container>
        </div>
      </div>
      <div id="blok3">
        <div id="blok3_div">
          <img src="assets/icon/svg/book.svg">
          {{ 'APP.slovnik' | translate }}
        </div>
        <div id="blok3_container">
          <ng-container *ngFor="let term of slovnik">
            <a id="slovnik" [routerLink]="'/slovnik/' + term.nazev">
              {{ term.title | translate }}
            </a>
          </ng-container>
        </div>
      </div>
      <div id="blok4" routerLink="/vyukovymod">
        <img src="assets/icon/svg/school.svg">
        {{ 'APP.vyukovyMod' | translate }}
      </div>
      <div id="blok5" routerLink="/navody">
        <img src="assets/icon/svg/view.svg">
        {{ 'APP.navody' | translate }}
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>