#body {
    background: url("src/assets/icon/jpg/pozadi.jpg") center/cover no-repeat fixed;
}

#page {
    background-color: #fff;
    width: 85%;
    margin: auto;
    overflow: auto;
    height: 100vh;
}

#lista {
    height: 85px;
    background-color: #C8E7F4;
    box-shadow: 0 3px 8px #0003;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
    padding: 10px;
}

#logo {
    max-width: 90px;
    padding-left: 10px;
}

#selecro {
    font-size: 2rem;
    font-weight: 300;
    margin-left: 3vw;
}

#hledaci_bunka {
    border-radius: 122px;
    background-color: #FFF;
    flex-shrink: 2;
    min-width: 30vw;
    max-width: 10vw;
    margin-left: 8vw;
}

#hledat {
    width: 100%;
    background-image: url('src/assets/icon/svg/search.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-origin: content-box;
    padding: 5px 20px;
    font-size: 1.2rem;
    border-color: transparent;
    background-color: transparent;
    height: 60px;
    outline-style: none;
}

#search_result_ul {
    min-width: 30vw;
    position: absolute;
    z-index: 1;
    padding: 0;
    box-shadow: 0 3px 8px #0003;
    text-align: center;
    border-radius: 20px;
}

#search_result_li {
    color: #000;
    padding: 14px 18px;
    text-decoration: none;
    background: #E9E9ED;
    display: block;
    border-bottom: solid;
    border-width: 1px;
    border-color: #0003;
}

#search_result_li:last-child {
    border-radius: 0px 0px 10px 10px;
    border-style: none;
}

#search_result_li:first-child {
    border-radius: 10px 10px 0px 0px;
}

#translation {
    padding: .375rem .75rem;
    background-color: #fff;
    border: 1px solid #ced4da;
    appearance: none;
    margin-left: 19vw;
}

#account {
    background-color: #fff;
    padding: 5px;
    border-radius: 15px;
    max-width: 50px;
}

#hamburger {
    background-color: #fff;
    padding: 5px;
    border-radius: 15px;
    max-width: 50px;
    display: none;
}

#menu {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    position: relative;
}

#blok1,
#blok4,
#blok5 {
    padding: 15px;
    background: #F4B9CD;
    border-radius: 20px;
    border: none;
    box-shadow: 0 3px 8px #0003;
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

#blok2,
#blok3 {
    position: relative;
}

#blok2_div,
#blok3_div {
    padding: 15px;
    background: #F4B9CD;
    border-radius: 20px;
    border: none;
    box-shadow: 0 3px 8px #0003;
    min-width: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 5%;
}

#blok2:hover #blok2_container,
#blok3:hover #blok3_container {
    display: block;
}

#blok2_container,
#blok3_container {
    min-width: 200px;
    background-color: #f1f1f1;
    display: none;
    position: absolute;
    box-shadow: 0 3px 8px #0003;
    text-align: center;
    border-radius: 20px;
}

#pomucky,
#slovnik {
    color: #000;
    padding: 14px 18px;
    text-decoration: none;
    background: #f2d4de;
    display: block;
    border-bottom: solid;
    border-width: 1px;
    border-color: #c0a8b0;
}

#pomucky:last-child,
#slovnik:last-child {
    border-radius: 0 0 10px 10px;
    border-style: none;
}

#pomucky:first-child,
#slovnik:first-child {
    border-radius: 10px 10px 0 0;
}

@media screen and (max-width: 1500px) {
    #body {
        background-image: none;
    }

    #page {
        width: 100%;
    }

    #translation {
        margin-left: 5vw;
    }

    #hledaci_bunka {
        margin-left: -2vw;
    }

    #selecro {
        margin-left: -3vw;
    }
}

@media screen and (max-width: 1100px) {
    #menu {
        display: none;
        margin-top: 0;
        position: absolute;
    }

    #hamburger {
        display: block;
    }

    #translation,
    #hledaci_bunka {
        margin-left: 0vw;
    }

    #blok1,
    #blok4,
    #blok5,
    #blok2_div,
    #blok3_div {
        border-radius: 0;
        box-shadow: none;
        border-bottom: solid;
        border-width: 1px;
        border-color: #c0a8b0;
    }

    #blok2:hover #blok2_container,
    #blok3:hover #blok3_container {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    #selecro {
        display: none;
    }

    #hledaci_bunka {
        min-width: 40vw;
    }

    #account,
    #hamburger {
        max-width: 7vw;
    }

    #hledat {
        font-size: 1rem;
        height: 45px;
        background-size: 20%;
    }
}

@media screen and (max-width: 550px) {
    #logo {
        display: none;
    }

    #hledaci_bunka {
        min-width: 45vw;
    }

    #account,
    #hamburger {
        max-width: 10vw;
    }
}