<div id="container">
    <h2>
        Výukový mód
    </h2>
    <router-outlet></router-outlet>
    <div id="sloupce">
        <span class="bunka" *ngFor="let item of vyuka" (click)="goKroky(item.title)">
            <div class="ruzovy_okraj">
                {{item.title}}
            </div>
            <div id="obsah">
                <img id="obrazek_navodu" src="../assets/icon/{{item.nazev}}.jpg">
                <div class="text">
                    <table>
                        <tr>
                            <td>
                                <strong>
                                    Počet kroků:
                                </strong>
                                {{item.pocet}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    Popis:
                                </strong>
                                {{item.popis}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </span>
    </div>
</div>