<div id="container">
    <h2>
        {{ 'VYUKOVYMOD.vyukovyMod' | translate }}
    </h2>
    <div id="sloupce">
        <div class="bunka" *ngFor="let item of vyuka" (click)="goKroky(item.nazev)">
            <div class="ruzovy_okraj">
                {{ item.title }}
            </div>
            <div id="obsah">
                <img id="obrazek_navodu" [src]="'assets/icon/jpg/' + item.nazev + '.jpg'">
                <div class="text">
                    <table>
                        <tr>
                            <td>
                                <strong>
                                    {{ 'VYUKOVYMOD.pocetKroku' | translate }}
                                </strong>
                                {{ item.pocet }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    {{ 'VYUKOVYMOD.popis' | translate }}
                                </strong>
                                {{ item.popis }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>