/*CSS*/

#sloupce {
    display: flex;
    margin-top: 2%;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
}

.bunka {
    border-radius: 20px;
    background-color: #f7e4ea;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
    min-width: 364px;
    width: 30%;
}

.ruzovy_okraj {
    padding: 5px;
    background: #EA749B;
    border-radius: 20px 20px 0px 0px;
    text-align: center;
    color: #fff;
}

.obsah {
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: center;    
}

.text {
    padding-left: 15px;
    display: flex;
    align-items: center;
}

#obrazek_navodu {
    width: 120px;
    border-radius: 20px;
}

h2 {
    text-align: center;
}

.wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}


@media screen and (max-width: 377) {
   
}
