<div class="Výukový-mód">
    Výukový mód
</div>
<div class="bunka">
    <div class="záložka">
        <div class="záložkavzáložce0">
            <title class="Chobotnička">
                Chobotnička
            </title>
        </div>
        <img class="obrázek" src="../assets/icon/Chobotnicka.jpg">
        <div class="záložkavzáložce1">
            <div class="Text">
                Čas: 60 minut
                <br/>
                <br/>
                Počet kroků: 18
                <br/>
                <br/>
                Popis: Veselá záložka do knihy pro malé i velké.
            </div>
        </div>
    </div>
</div>
