/*CSS*/

#container {
    padding: 40px;
}

#sloupce {
    display: flex;
    margin-top: 2%;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
}

.bunka {
    border-radius: 20px;
    background-color: #f7e4ea;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
    width: 30%;
    min-width: 364px;
}

.ruzovy_okraj {
    padding: 5px;
    background: #EA749B;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

#obsah {
    display: flex;
    padding: 15px;
    justify-content: center;
}

#obrazek_navodu {
    width: 120px;
    border-radius: 10px;
}


h2 {
    text-align: center;
}

.text {
    padding-left: 15px;
}

@media screen and (max-width: 808px) {
    #container{
      padding: 20px;
    }
  }