/*CSS*/

#container {
    margin-top: 15px;
}

.novinky {
    width: 1180px;
    height: 190px;
    background: #C8E7F4;
    border-radius: 20px;
    text-align: center;
    margin: auto;
    padding: 10px;
}

#privitaci_modry_blok {
    padding: 20px;
}

p {
    font-weight: 400;
    font-size: large;
}

h2 {
    text-align: center;
    font-weight: bold;
}

.obrazek_hackovani {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px;
}

#slon {
    padding: 10px;
}

#jednicka {
    padding: 10px;
}

#medved {
    padding: 10px;
}

.soc_site {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#mail {
    padding: 20px;
}

#ig {
    padding: 20px;
}

#pin {
    padding: 20px;
}




