<div id="container">
    <div id="privitaci_modry_blok">
        <div class="novinky">
            <h2>Vítejte!</h2>
            <p>Zdraví Vás tým Selecro s touto webovou aplikací na naučení háčkování.</p>
            <p>Připravujeme pro vás aplikaci na stažení do Vašeho zařízení. V aplikaci bude navíc možnost vytvoření vlastního účtu, kde bude možnost přidávat příspěvky, vytvářet vlastní návody, hodnotit a komentovat příspěvky ostatních a plno dalšího...</p>
        </div>
    </div>
    <div class="obrazek_hackovani">
            <div id="slon"><img src="assets/icon/slon.png"></div>
            <div id="jednicka"><img src="assets/icon/jednicka.png"></div>
            <div id="medved"><img src="assets/icon/medved.png"></div> 
    </div>

    <h2>Sociální sítě</h2>
    <div class="soc_site">
        <div id="mail"><img src="assets/icon/mail.png"></div>
        <div id="ig"><img src="assets/icon/ig.png"></div>
        <div id="pin"><img src="assets/icon/pin.png"></div>
    </div>
</div> 



    
