#container {
    padding: 40px;
}

#novinky {
    background: #C8E7F4;
    border-radius: 20px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: calc(1rem + 1vw);
}

#obrazky {
    margin-top: 20px;
    text-align: center;
}

.obrazek {
    padding: 20px;
    max-width: 300px;
}

#soc_site {
    display: flex;
}

.card {
    margin-left: 20px;
    padding: 20px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    border: none;
    flex: 1;
    position: inherit;
}

.socials_logo {
    width: 100%;
    max-width: 50px;
    min-width: 50px;
    height: auto;
}

@media screen and (max-width: 808px) {
    #container {
        padding: 20px;
    }

}

@media screen and (max-width: 991px) {
    #container {
        padding: 20px;
    }

    .obrazek {
        max-width: 230px;
    }

    .socials_logo {
        max-width: 30px;
        min-width: 30px;
    }

    .novinky {
        margin-top: 10px;
    }

    .card {
        padding: 15px;
    }

    .novinky {
        padding: 10px;
    }

}

@media screen and (max-width: 767px) {
    .obrazek {
        max-width: 200px;
    }

}

@media screen and (max-width: 479px) {
    .obrazek {
        max-width: 140px;
        padding: 8px;
    }

    .socials_logo {
        max-width: 25px;
        min-width: 25px;
    }

    .card {
        padding: 10px;
    }

}