<div id="container">
        <div id="novinky">
            <h2>
                {{ 'HOME.uvitani' | translate }}
            </h2>
            <p>
                {{ 'HOME.webovaAplikace' | translate }}
            </p>
            <p>
                {{ 'HOME.mobilniAplikace' | translate }}
            </p>
        </div>
    <div id="obrazky">
        <img class="obrazek" src="assets/icon/jpg/slon.jpg">
        <img class="obrazek" src="assets/icon/jpg/chobotnicka.jpg">
        <img class="obrazek" src="assets/icon/jpg/medved.jpg">
    </div>
    <h2>
        {{ 'HOME.socialniSite' | translate }}
    </h2>
    <div id="soc_site">
        <a class="card" href="mailto:info@selecro.cz">
            <img class="socials_logo" src="assets/icon/svg/mail.svg">
        </a>
        <a class="card" href="https://www.instagram.com/_selecro_/" target="_blank">
            <img class="socials_logo" src="assets/icon/svg/instagram.svg">
        </a>
        <a class="card" href="https://www.pinterest.com/selecro/" target="_blank">
            <img class="socials_logo" src="assets/icon/svg/pin.svg">
        </a>
    </div>
</div>