<div id="container">
    <div id="privitaci_modry_blok">
        <div class="novinky">
            <h2>
                {{ 'HOME.uvitani' | translate }}
            </h2>
            <p>
                {{ 'HOME.webovaAplikace' | translate }}
            </p>
            <p>
                {{ 'HOME.mobilniAplikace' | translate }}
            </p>
        </div>
    </div>
    <div id="obrazky">
        <img class="obrazek" src="assets/icon/slon.jpg">
        <img class="obrazek" src="assets/icon/jednicka.jpg">
        <img class="obrazek" src="assets/icon/medved.jpg">
    </div>
    <h2 id="soc">
        {{ 'HOME.socialniSite' | translate }}
    </h2>
    <div id="soc_site">
        <a class="card" href="mailto:info@selecro.cz">
            <img class="socials_logo" src="assets/icon/mail.svg">
        </a>
        <a class="card" href="https://www.instagram.com/_selecro_/" target="_blank">
            <img class="socials_logo" src="assets/icon/instagram.svg">
        </a>
        <a class="card" href="https://www.pinterest.com/selecro/" target="_blank">
            <img class="socials_logo" src="assets/icon/pin.svg">
        </a>
    </div>
</div>