/* You can add global styles to this file, and also import other style files */

:root {
    --background-color: #fff;
    --cell-color-first: #C8E7F4;
    --shadow-color: #0003;
    --box-color: #E9E9ED;
    --border-color-first: #c0a8b0;
    --border-color-second: #ced4da;
    --pink-backgroud: #F4B9CD;
    --text-color: #333;
    --light-background: #f2d4de;
    --cell-color-second: #f7e4ea;
    --cell-header: #EA749B;
    --easy-instruction: #3EDE44;
    --medium-instruction: #D6DA34;
    --hard-instruction: #f73636;
    --easy-color: #E2FAE3;
    --medium-color: #F9FAE1;
    --hard-color: #FDE6E6;
}

.dark-mode {
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: url("src/assets/icon/jpg/pozadi.jpg") center/cover no-repeat fixed;
}

h2 {
    text-align: center;
    font-size: calc(1rem + 1vw);
}

h4 {
    text-align: center;
    font-size: calc(1rem + .5vw);
}

h5 {
    text-align: center;
    font-size: calc(1rem + .3vw);
}

input {
    width: 300px;
}

button {
    width: 100%;
    opacity: .65;
}

#container {
    padding: 40px;
}

@media screen and (max-width: 800px) {
    input {
        width: 250px;
    }
}